@import "config";

.cards {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .card {
    .cardHeading {
      display: flex;
      align-items: baseline;
      gap: 1em;

      @include onMobile {
        flex-direction: column;
      }
    }
    .cardTitle {
      font-size: 1.5em;
    }
  }
}
