.canvas {
  width: 100%;
  max-height: 50vh;
  background-color: lightblue;
  object-fit: contain;

  &.lowResolution {
    image-rendering: optimizeSpeed; 
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }
}

.inputFields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;

  .inputField {
    display: flex;
    flex-direction: column;
  }
}
