@import 'config';


.videoContainer {
  height: calc(95vw / 16 * 9);

  @media (min-aspect-ratio: 1/1) {
    height: 50vh;
  }

  overflow: hidden;
  display: flex;
  align-items: center;
  
  .video {
    width: 100vw;
    height: 200vw;
    pointer-events: none;
    overflow: hidden;
    filter: brightness(80%);
  }

  .videoContentContainer {
    width: 100%;
    height: inherit;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    .content {
      color: white;
      flex-grow: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      h1 {
        font-size: 8vw;
        margin: 0;
      }
      p {
        font-size: 4vw;
        word-wrap: break-word;
        margin: 0;
      }

    }
  }
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  @include onMobile {
    grid-template-columns: 1fr;
  }
  .card {
    background-color: lightgrey;
    border-radius: $border-radius;
    padding: 1em;
    display: flex;
    flex-direction: column;
    @include hoverShadow(1);
    .description {
      margin: 0;
    }
    .title {
      margin-top: 0;
    }
    .links {
      margin-bottom: 0;
    }
    .description {
      flex-grow: 1;
    }
    .created {
      font-size: 10pt;
    }
    .links {
      margin-left: auto;
      display: flex;
      flex-wrap: wrap;
      a {
        display: block;
        margin-left: 1em;
        white-space: nowrap;
        text-align: right;
      }
    }
  }
}
