@import 'config';

.header {
  width: 100vw;
  background-color: $primary-colour;
  padding: 1em 0 0.6em 0;
  
  .title {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    @include linkColour(white);
  }

  a {
    display: block;
    text-decoration: none;
  }
}
