@import 'config';

.header {
  width: 100vw;
  background-color: $primary-colour;
}

.content {
  margin: 1em 0;
  a {
    text-decoration: none;
    color: unset;
  }
}

.edge {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.rainbow {
  height: .25em;
  width: 100%;
  background-image: linear-gradient(90deg, red, green, yellow, green, blue, indigo, violet);
}
