@import 'config';

.links, .copyright {
  padding-top: 1em;
  padding-bottom: 1em;
  p {
    padding: 0;
  }
}

.links {
  background-color: $primary-colour;
}

.copyright {
  background-color: darken($primary-colour, 10%);
}

.spotifyEmbed {
  height: 80px;
  width: 100%;
}
