@import 'config';

.welcomeWheelScreen {
  position: relative;
  color: white;
  overflow: hidden;
  justify-content: center;

  a {
    color: white;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
}

.image {
  width: 100%;
  height: 100vh;
  transform: scale(1.05);
  filter: blur(5px) brightness(40%);
}

.jumbotron {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-top: 2em;
  padding-bottom: 2em;

  @include onMobile {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5em;

    .pageTitle, .pageSubtitle {
      text-align: center;
    }
  }

  .pageTitle, .pageSubtitle {
    display: block;
  }
  
  .pageTitle {
    font-size: 3em;
    font-weight: bold;
  }
  
  .pageSubtitle {
    font-size: 2em;
  }
}
